<div class="contianer_nav">
    <div class="cabe">
        
    <div class="cabe-logo">
        <img src="assets/image/factu.png" alt="Logo">
    </div>

    <div class="about-us">
        <p>Prueba de Angular</p>
        <p>21/09/2023</p>
        <p>Guayaquil, Ecuador</p>
    </div>
    
    <div class="contact-us">
        <p>Web: prueba.com</p>
        <p>Email: jordarto@gmail.com</p>
        <p>Telf: 0982431397</p>
        <p>Twitter: @jordarto</p>
    </div>
    
    <div class="info">
        <p>Datos Bancarios:</p>
        <p>Titular de la cuenta:</p>
        <p>IBAN:</p>
        <p>BIC:</p>
    </div>
    
    </div>
</div>
<div class="contianer_fa">

    <h2>Factura</h2>
    <div class="info_fa">
        <p>Fecha: 21/09/2023 </p>
        <p>Factura #: 100 </p>
        <p>Vence: 28/09/2023</p>
    </div>    
    <div class="facturar">
        <h3>Facturar a</h3>
        <p>[Nombre cliente]</p>
        <p>[Nombre empresa]</p>
        <p>[Direccion empresa]</p>
        <p>[Tel empresa]</p>
    </div>    
    <div class="enviar">
        <h3>Enviar </h3>
        <p>[Nombre cliente]</p>
        <p>[Nombre empresa]</p>
        <p>[Direccion empresa]</p>
        <p>[Tel empresa]</p>
    </div>    
</div>